* {
    
    box-sizing:border-box;
    padding: 0;
    margin: 0;

}
html {
    
}
main {
    background-color: greenyellow;
    width: 100%;
    min-height: 670px;
}
.first_section {
    display:inline-block;
    position: absolute;

    width: 300px;
    min-height: 150px;
    background-color: white;
    border: 5px solid red;

    top: 25%;
    left: 35%;
}
.title {
    display: inline-block;
    padding-left: 90px;
    
}
.first_list {
    list-style: none; 
}
.form_first {
    margin-left: 10px;
    margin-bottom: 10px;
}
li {
    margin-left: 10px;
    padding-top: 5px;
}